<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form [formGroup]="loginForm">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required formControlName="email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="loginButton()">Sign In</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
      </ion-col>
    </ion-row>
  </form>

  <ion-item *ngFor="let list of authentication">
    <p id="currentUser">{{list.username}}</p>


  </ion-item>
</ion-content>
