<ion-header class="ion-no-border" *ngFor="let item of userDetails">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="bordered" [routerLink]="['/buddy']">
        <ion-icon color="primary" name="people-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">
      My Profile
    </ion-title>
  </ion-toolbar>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img [src]=item.image>
    </ion-avatar>
    <ion-label>
      <p>Welcome,</p>
      <h3>{{item.username}}</h3>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label>
      <p>Fitness Level: {{item.fitnessLevel}}</p>
    </ion-label>
  </ion-item>

</ion-header>



<ion-content>

  <div class="slides ion-margin-bottom">
    <h2>Recommended Workouts</h2>
    <ion-slides [options]="slidesOptions">
      <ion-slide *ngFor="let item of recommendedPlan">
        <ion-card class="workout-card" [routerLink]="['/recommended-plan-detail', item.PlanTypeName]">
          <ion-card-header>
            <div class="main">

            </div>
            <img src="../../assets/bench.jpg" alt="" class="workoutImg">

          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <div>
              <ion-card-title>{{item.PlanTypeName}}</ion-card-title>
              <ion-card-subtitle>{{item.PlanTypeDuration}}</ion-card-subtitle>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <!-- <ion-button color="primary" [routerLink]="['/create-workout']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button> -->
  </div>

  <div id="activityChart"></div>
  <table id="datatable" style="display: none;">
    <thead>
      <tr>
        <th></th>
        <th>Time Active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of compltedTotal">
        <th>{{item.cDate | date: 'dd MMM YYYY'}} </th>
        <td>{{item.Total}}</td>
      </tr>

    </tbody>
  </table>

  <div class="badges-slides ion-margin-bottom">
    <h2>Badges</h2>
    <ion-slides [options]="badgeSlidesOptions">
      <ion-slide *ngFor="let item of badges">
        <ion-card>
          <ion-card-content class="ion-text-left badge-card" *ngIf="completedAmt >= item.TotalPoint">
            <div class="badge-image">
              <ion-avatar>
                <img [src]=item.image>
              </ion-avatar>
            </div>
            <div>
              <ion-card-title>{{item.badgeName}}</ion-card-title>
              <ion-card-subtitle>Progress: {{item.TotalPoint}}/{{item.TotalPoint}}</ion-card-subtitle>
              <ion-progress-bar value="1"></ion-progress-bar>
            </div>
          </ion-card-content>
          <ion-card-content class="ion-text-left badge-card" *ngIf="completedAmt < item.TotalPoint"
            style="opacity: 0.5;">
            <div class="badge-image">
              <ion-avatar>
                <img [src]=item.image>
              </ion-avatar>
            </div>
            <div>
              <ion-card-title>{{item.badgeName}}</ion-card-title>
              <ion-card-subtitle>Progress: {{completedAmt}}/{{item.TotalPoint}}</ion-card-subtitle>
              <ion-progress-bar [value]="(completedAmt)/(item.TotalPoint)"></ion-progress-bar>
            </div>
          </ion-card-content>
        </ion-card>

      </ion-slide>
    </ion-slides>
  </div>

</ion-content>