<ion-header>
  <ion-toolbar>
    <ion-title>recommendedPlanDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of recommendedPlanDetails">
    <ion-card-header>
      <ion-card-subtitle>
        {{item.fitnessName}}
      </ion-card-subtitle>
      <ion-label>{{item.fitnessReps}} Reps, {{item.fitnessSet}} Sets, {{item.fitnessDuration}} minutes</ion-label>
    </ion-card-header>
    </ion-card>
<ion-button (click)='passingTheDataToNextPage()' >Start countdown {{this.sum}}</ion-button>
<ion-button [routerLink]="['/add-upcoming', planTypeName]">Invite</ion-button>




</ion-content>
