<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{planTypeName}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-label>  </ion-label>
<ion-content>
  <ion-card *ngFor="let item of recommendedPlanDetails">
    <ion-card-header>
      <ion-card-subtitle class="subtitle">
        {{item.fitnessName}}
      </ion-card-subtitle>
      <ion-icon name="barbell-outline" class="icons"></ion-icon>
      <ion-label class="labels">{{item.fitnessReps}} Reps </ion-label>
      <br>
      <ion-icon name="repeat-outline" class="icons"></ion-icon>
      <ion-label  class="labels"> {{item.fitnessSet}} Sets</ion-label>
      <br>
      <ion-icon name="timer-outline" class="icons"></ion-icon>
      <ion-label  class="labels"> {{item.fitnessDuration}} minutes</ion-label>
    </ion-card-header>
    </ion-card>
<ion-button (click)='passingTheDataToNextPage()' class="buttonCSS">Start countdown {{this.sum}}</ion-button>
<ion-button [routerLink]="['/add-upcoming', planTypeName]">Invite</ion-button>




</ion-content>
