.subtitle {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.2rem;
    color: black;
    position: relative;

}

.labels {
    font-size: 1.45rem;
    margin-left: 1rem;
}

.icons {
    margin-left: 3rem;
   font-size: 1.45rem;
}

/* 
.buttonCSS {
   	background-color:#b8e356;
	border-radius:12px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:14px 37px;
	text-decoration:none;
} */

